.text {
  text-align: center;
}

.img {
  position: relative;
  left: 40%;
  border-radius: 50%;
  border: 2px solid gray;
  box-shadow: 50px black;
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
}

.B {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.co {
  color: red;
}

.foott {
  height: 120px;
}

.h2 {
  color: aliceblue;
  position: absolute;
  padding-top: 20px;
  padding-right: 50px;
}

.pr {
  font-size: 10px;
}
